<div class="d-flex justify-content-center align-items-center mb-3">
    <!-- Left Arrow -->
    <button class="btn btn-outline-light me-2"
            data-bs-target="#etfCarousel"
            data-bs-slide="prev"
            id="prev-region">
        &lt;-
    </button>

    <!-- Region Buttons -->
    <button class="btn btn-outline-light me-2"
            data-bs-target="#etfCarousel"
            data-bs-slide-to="0">
        US
    </button>

    <button class="btn btn-outline-light me-2"
            data-bs-target="#etfCarousel"
            data-bs-slide-to="1">
        Europe
    </button>

    <button class="btn btn-outline-light me-2"
            data-bs-target="#etfCarousel"
            data-bs-slide-to="2">
        Asia
    </button>

    <button class="btn btn-outline-light me-2"
            data-bs-target="#etfCarousel"
            data-bs-slide-to="3">
        Crypto-Currency
    </button>

    <button class="btn btn-outline-light me-2"
            data-bs-target="#etfCarousel"
            data-bs-slide-to="4">
        Rates/Fixed Income
    </button>

    <!-- Right Arrow -->
    <button class="btn btn-outline-light me-2"
            data-bs-target="#etfCarousel"
            data-bs-slide="next"
            id="next-region">
        -&gt;
    </button>
</div>

<!-- Carousel -->
<div id="etfCarousel" class="carousel slide" data-bs-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item active">
            {% include 'Index_Page/ETF_Grid_Graphs/ETF_US.html' %}
        </div>
        <div class="carousel-item">
            {% include 'Index_Page/ETF_Grid_Graphs/ETF_Europe.html' %}
        </div>
        <div class="carousel-item">
            {% include 'Index_Page/ETF_Grid_Graphs/ETF_Asia.html' %}
        </div>
        <div class="carousel-item">
            {% include 'Index_Page/ETF_Grid_Graphs/Crypto.html' %}
        </div>
        <div class="carousel-item">
            {% include 'Index_Page/ETF_Grid_Graphs/Rates_Fixed_Income.html' %}
        </div>
    </div>
</div>

<!-- Carousel Controls -->
{% include 'Index_Page/Scripts/carousel_region_button.html' %}